@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
body{
  background-color: #292929;
  color: #d3d2d2;
}
.container{    
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin-left: 100px;
  text-align: center;
}
.form label{
  margin-bottom: 10px;
}
.form input{
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
}
.form button{
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  background-color: #6C63FF;
  color: #FFF;
  padding: 4px;
  cursor: pointer;
}
.infos-container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.infos{
  opacity: 0;
}
.infos.active{
  opacity: 1;
}
img{
  width: 300px;
  height: 240px;
}
p{
  padding: 4px 0;
}
.error{
  font-size: 14px;
  color: rgb(170, 10, 10);
  text-align: center;
  margin-bottom: 8px;
}

@media (max-width: 600px){
  img{
    width: 150px;
  }
  .infos-cep{
    width: 260px;
  }
}